<h1>Editing Thermal Production Item</h1>

<%= render 'form', thermal_production_item: @thermal_production_item %>

<%= link_to 'Show', @thermal_production_item %> |
<%= link_to 'Back', thermal_production_items_path %>
