<div class="container">

  <h3 class="page-title">Dati Tecnici Stabilimento (Scheda 2)</h3>

<%= render 'form', technical_datum: @technical_datum %>

<%= link_to 'Back', technical_data_path %>


</div>
