{% extends "base.html" %}

{% block content %}

<div class="container produzionecontainer">
	<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

		<form action="/contact/" method="post">{% csrf_token %}
		<div class="form-group col-sm-6 contactme">
		    <label for="exampleInputEmail1" class="texttext" >{% if session_language = 'uk' %}Name:{% else %}Nome:{% endif %}</label>
		    <input name="nome" type="text" class="form-control livello" id="exampleInputEmail1" placeholder="" required>
		  </div>

		  <div class="form-group col-sm-6 contactme">
		    <label for="exampleInputEmail1" class="texttext">{% if session_language = 'uk' %}Surname:{% else %}Cognome:{% endif %}</label>
		    <input name="cognome" type="text" class="form-control livello" id="exampleInputEmail1" placeholder="" required>
		  </div>

		  <div class="form-group col-sm-6 contactme">
		    <label for="exampleInputEmail1" class="texttext">{% if session_language = 'uk' %}Telephone{% else %}Telefono:{% endif %}</label>
		    <input name="telefono" type="text" class="form-control livello" id="exampleInputEmail1" placeholder="">
		  </div>

		  <div class="form-group col-sm-6 contactme" class="texttext">
		    <label for="exampleInputEmail1" class="texttext">Fax:</label>
		    <input name="fax" type="text" class="form-control livello" id="" placeholder="">
		  </div>

		  <div class="form-group col-sm-6 contactme">
		    <label for="exampleInputEmail1" class="texttext">Email:</label>
		    <input name="email" type="text" class="form-control livello" id="" placeholder="" required>
		  </div>

		  
		  <div class="form-group col-sm-6 contactme">
		    <label for="exampleInputEmail1" class="texttext">{% if session_language = 'uk' %}City:{% else %}Città:{% endif %}</label>
		    <input name="citta" type="text" class="form-control livello" id="" placeholder="">
		  </div>

		  <div class="form-group col-sm-12 contactme">
		    <label for="exampleInputEmail1" class="texttext">{% if session_language = 'uk' %}Address:{% else %}Indirizzo:{% endif %}</label>
		    <input name="indirizzo" type="text" class="form-control livello" id="" placeholder="">
		  </div>



		  <div class="form-group col-sm-12 contactme" style="">
		    <label class="formcontrolcontatti texttext" for="">{% if session_language = 'uk' %}Message:{% else %}Messaggio:{% endif %}</label>
		    <textarea name="messaggio" class="form-control formcontrolcontatti" rows="11"></textarea>
		  </div>

		  

		  <button type="submit" class="btn btn-default" style="margin-left: 20px;">INVIA</button>
		</form>

	</div><!-- col-md-8 -->
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
		<h3 class="produzionetitolo">{% if session_language = 'uk' %}CONTACT{% else %}CONTATTI{% endif %}</h3>
		<p class="textright"><strong>FALEGNAMERIA PEA</strong><br>
			Via Europa, 54<br>
			25038 Rovato (BS)</br>
			Tel. +39.7254565<br>
			Cell. +39.339.205.2131<br>
			info@falegnameriapea.it</p>
	</div><!-- col-xs-4 -->
</div><!-- container -->
{% endblock %}