<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<table class="table table-striped">
	  <tbody>
	      <tr>
	      	<td><%= check_box_tag :product_ids, pro.id, @order.products.include?(pro), :name => 'order[product_ids][]' %></td>
	      	<td><%= image_tag pro.image.url(:thumb) %></td>
	        <td><%= pro.title %></td>
	      </tr>
	  </tbody>
	</table>
</div>
