

<div class="container">

  <h3 class="page-title"><i class="fa fa-address-card" aria-hidden="true"></i> AGGIUNGI AZIENDA</h3>

    <%= render 'form', company: @company %>

    <%= link_to 'Back', companies_path %>


</div><!-- /container -->
