{% block menu %}
{% load staticfiles %}


<nav class="navbar navbar-default">

	<div class="col-xs-12 top">
		<div class="container">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
				<a href="{% url 'home' %}">
			    <img src="{% static 'img/pealogo.png' %}" class="img-responsive">
			  </a>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
				<p class="textsocial">
					<a href="https://www.facebook.com/pages/Falegnameria-Pea/613049982098228" target="_Blank"><i class="fa fa-facebook fa-2x"></i></a>
					<a href="https://twitter.com/FalegnameriaPea" target="_Blank"><i class="fa fa-twitter fa-2x"></i></a>
					<a href="https://instagram.com/" target="_Blank"><i class="fa fa-instagram fa-2x"></i></a>
					<!--a href="#"><i class="fa fa-linkedin fa-2x"></i></a -->
				</p>
			</div>
		</div><!-- container -->
	</div><!-- col xs 12 -->


  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      	{% if session_language = 'uk' %}
	    		<li><a href="{% url 'home' %}">HOME</a></li>
	    		<li><a href="{% url 'chisiamo' %}">ABOUT US</a></li>
	    		<li><a href="{% url 'produzione' %}">PORTFOLIO</a></li>
	    		<li><a href="{% url 'location' %}">LOCATION</a></li>
	    		<li><a href="{% url 'contact' %}">CONTACT</a></li>      	
      	{% else %}
	    		<li><a href="{% url 'home' %}">HOME</a></li>
	    		<li><a href="{% url 'chisiamo' %}">L'AZIENDA</a></li>
	    		<li><a href="{% url 'produzione' %}">PRODUZIONE</a></li>
	    		<li><a href="{% url 'location' %}">DOVE SIAMO</a></li>
	    		<li><a href="{% url 'contact' %}">CONTATTI</a></li>
    		{% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
    		<li role="presentation"><a href="/language/it/"><img src="{% static 'img/ita.png' %}" class="flag" alt="italiano"></a></li>
    		<li role="presentation"><a href="/language/uk/"><img src="{% static 'img/uk.png' %}" class="flag" alt="inglese"></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



{% endblock %}