<div class="container">

  <h3 class="page-title">Produzione energia termica – S.6</h3>

<%= render 'form', thermal_production: @thermal_production %>

<%= link_to 'Back', thermal_productions_path %>


</div>
