<div class="container">

  <h3 class="page-title">Utenze – censimento utenze - S.7</h3>

<%= render 'form', utility: @utility %>

<%= link_to 'Show', @utility %> |
<%= link_to 'Back', utilities_path %>

</div>
