<div class="container">
    <h3 class="page-title">Energia – trasformatori - S.5</h3>

<%= render 'form', transformer: @transformer %>

<%= link_to 'Show', @transformer %> |
<%= link_to 'Back', transformers_path %>

</div>
