<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>GLRarredamenti| Vendita, Noleggio e Assistenza di attrezzature per Bar, Ristoranti, Hotel</title>
    <meta name="description" content="operiamo nel settore arredamenti per bar, ristoranti e hotel, Curiamo l'arredamento bar, partendo dal progetto, dai disegni dell'arredo per arrivare alla consegna del locale chiavi in mano curando installazione e montaggio.">
    <meta name="keywords" content="hotel, bar, ristoranti, hotel, attrezzature, forni, friggitrici, pizza, pizzerie, lavastoviglie, lavabicchieri, cuocipasta, rovato, lombardia, design, furniture, mobili, armadi, arredamenti, falegnameria, cucina, tavoli, negozi, alberghi, legno, italia,rovato, brescia, artigianato">
    <meta property="og:title" content="GLRarredamenti| Vendita, Noleggio e Assistenza di attrezzature per Bar, Ristoranti, Hotel"/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.glrarredamenti.com/" />
    <!-- meta property="og:image" content="http://ia.media-imdb.com/images/rock.jpg" />

    <!-- SHARE THIS -->
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "8268944a-900a-49af-a556-4374bbb32b03", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
    <!-- Bootstrap core CSS -->
    <link href="{{STATIC_URL}}/css/bootstrap.min.css" rel="stylesheet">
    <!-- GOOGLE FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <!-- AWESOME FONTS -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- SLIDER REVOLUTION -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/rs-plugin/css/style.css" media="screen" />
    <script type="text/javascript" src="{{STATIC_URL}}/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/rs-plugin/css/settings.css" media="screen" />

    <!-- Custom styles for this template -->
    <link href="{{STATIC_URL}}/carousel.css" rel="stylesheet">
  </head>


  <body>
    <!-- NAVBAR -->
    {% include "componenti/navbar.html" %}


    {% block content %}

    {% endblock %}

    


   


      


      <!-- FOOTER -->
      <footer>
        <div class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 GLR di Luca Galbiati - P.IVA:03004760983 - Via San Rocco, 25 - 25038 Rovato (BS) - Tel: +39.030.7704090 - <a href="mailto:info@glrarredamenti.com">info@glrarredamenti.com</a>
        </div>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <script src="{{STATIC_URL}}/js/bootstrap.min.js"></script>
    <!-- <script src="../../assets/js/docs.min.js"></script> -->
    <!-- analistycs -->
        <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-61642037-2', 'auto');
              ga('send', 'pageview');

        </script><!-- analitycs -->
  </body>
</html>