{% extends 'base.html' %}

{% block content %}

<div class="container">
	<h1>Chi Siamo</h1>
	<hr>
	<p class="chisiamotext">Da ben tre generazioni operiamo nel settore arredamenti per bar, ristoranti e hotel. Possiamo offrirvi una vasta gamma di servizi e soluzioni d'arredo già pronte grazie alla partnership con i maggiori e piu affidabili produttori del settore ai quali affianchiamo prodotti fatti su misura per le tue esigenze fatti da noi. Tutte le combinazioni sono studiate in ogni dettaglio e costruite secondo una tecnologia affidabile per durare nel tempo anche in situazioni climatiche e ambientali difficili.<br>
	Curiamo l'arredamento bar, partendo dal progetto, dai disegni dell'arredo per arrivare alla consegna del locale chiavi in mano curando installazione e montaggio. Inoltre curiamo l'arredamento di macellerie gastronomie e panetterie progettando arredi con banchi frigo e retrobanchi all'avanguardia sia a livello di affidabilità sia di design.</p>
	<hr>
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2793.109880842065!2d10.0051541!3d45.5682289!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47816eefb89756ad%3A0xf5cb0bc2f8281a56!2sVia+San+Rocco%2C+25%2C+25038+Rovato+BS!5e0!3m2!1sit!2sit!4v1416909206169" width="100%" height="600" frameborder="0" style="border:0"></iframe>

	<p>{% include 'componenti/social.html' %}</p>

</div><!-- container -->


{% endblock %}