{% extends 'base.html' %}

{% block content %}

<section id="servizi">
	<div class="container">
		<h1>Servizi</h1>
		<hr>
		<p class="chisiamotext">
			GLR di Luca Galbiati, forte della sua esperienza pluridecennale e della partnership con i più importanti protagonisti del settore, offre servizi a 360° nel campo della realizzazzione, gestione e manutenzione di attività commerciali nel campo della ristorazione e dell'ospitalità.</p>
			<br>
			<h3>Una Lista dei Nostri Servizi:</h3>
			<ul type="disc">
				<li>Progettazione Locale (con nostri Architetti e Designer di fiducia).</li>
				<li>Realizazzione Locale chiavi in mano</li>
				<li>Fornitura di Arredi</li>
				<li>Customizzazione e personalizzazione degli arredi</li>
				<li>Fornitura Attrezzature</li>
				<li>Riparazione e Manutenzione attrezzature</li>
				<li>Noleggio a Breve, Medio e Lungo termine di Attrezzature </li>
				<li>Consulenza per quanto riguarda Pratiche apertura attività</li>
				<li>Consulenza riguardo Normative Igienico Sanitarie</li>
				<li>Consulenza riguardo normative Risparmio Energetico</li>
			</ul>
			<p>{% include 'componenti/social.html' %}</p>
	</div><!-- container -->
</section>


{% endblock %}