<h1>Editing Thermal Energy Production Item</h1>

<%= render 'form', thermal_energy_production_item: @thermal_energy_production_item %>

<%= link_to 'Show', @thermal_energy_production_item %> |
<%= link_to 'Back', thermal_energy_production_items_path %>
