<div class="tp-banner-container">
		<div class="tp-banner" >
			<ul>
				{% for item in carousel_list %}
				<!-- SLIDE  -->
				<li data-transition="fade" data-slotamount="5" data-masterspeed="700" >
					<!-- MAIN IMAGE -->
					{% load cropping %}
					<img src="{% cropped_thumbnail item "croppingslide" %}"   alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">


					<!-- LAYERS -->
					<!--
					<div class="tp-caption mediumlarge_light_white_center customin customout start"
						data-x="50"
						data-hoffset="0"
						data-y="50"

						data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="1000"
						data-start="500"
						data-easing="Back.easeInOut"
						data-endspeed="300">BASIC CAPTION<br>ANIMATIONS
					</div> -->
				</li>
				{% endfor %}
				

				

				


			</ul>
			<div class="tp-bannertimer"></div>
		</div>
	</div>
				<script type="text/javascript">

				var revapi;

				jQuery(document).ready(function() {

					   revapi = jQuery('.tp-banner').revolution(
						{
							delay:9000,
							startwidth:1170,
							startheight:500,
							hideThumbs:10,
							fullWidth:"on",
							forceFullWidth:"on"

						});

				});	//ready

			</script>

			<!-- END REVOLUTION SLIDER -->